<h1>
    <%= @article.title %>
</h1>

<p><%= @article.body %></p>
 

<h2>Comments</h2>

<%= render @article.comments %>

<h2>Add a Comment </h2>
<%= render 'comments/form' %>

<div class="container">
    <p><%=link_to "Edit Article", edit_article_path(@article) %><p>
        <p>
            <%= 
                link_to "Delete", article_path(@article), 
                data: { turbo_method: :delete,
                turbo_confirm: "Are you sure?" } 
            %>
        </p>
</div>
